:root {
  --main-color: #fefaec;
}
body {
  background-color: var(--main-color);
  font-family: "Cormorant Garmond", serif;
}

.hero {
  height: 640px;
}

.navbar {
  background-color: var(--main-color);
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
.nav-item {
  padding: 0 12px;
  margin: 8px 0;
}
h1 {
  font-size: 70px;
  font-family: "Noto Serif", serif;
}
h2 {
  font-size: 70px;
  font-family: "Alex Brush", cursive;
}
